<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Draw&Print Chocolate Fiesta</title>
	<link rel='stylesheet' href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css'>
	<link rel="stylesheet" href="./src/style.css">

</head>

<body>
	<!-- partial:index.partial.html -->
	<div id="draw">
		<div class="welcome-bg" v-if="popups.showWelcome">
			<div class="welcome">
				<h1 class="fade-up">Библиотека рисунков β</h1>
				<div class="grid-container">

						<div class="grid-model" v-for="item in modelLibrary">
							<img :src="'./src/images/' + item.name + '.jpg'" class="model-image">
							<p>{{ item.name }}</p>
							<button class="btn-model-print fade-up" v-on:click="printFromModelLibrary(item)">Печать</button>
						</div> 
				</div>
				<a href="https://chocolatefiesta.ru" target="blank" title="chocolatefiesta.ru"
					class="fade-up">chocolatefiesta.ru</a>
				<span class="btn fade-up" title="Close" v-on:click="popups.showWelcome = false">
					Рисовать
				</span>

			</div>
		</div>
		<div class="app-wrapper">
			<canvas id="canvas">
			</canvas>
			<div class="cursor" id="cursor"></div>
			<div class="controls">
				<div class="btn-row">
					<div class="history" title="history">
						{{ history.length }}
					</div>
				</div>
				<div class="btn-row">
					<button type="button"
									v-on:click="removeHistoryItem"
									v-bind:class="{ disabled: !history.length }" title="Undo">
						<i class="ion ion-reply"></i>
					</button>
					<button type="button"
									v-on:click="removeAllHistory"
									v-bind:class="{ disabled: !history.length }" title="Clear all">
						<i class="ion ion-trash-a"></i>
					</button>
					
					<button type="button" v-on:click="popups.showWelcome = true" title="Библиотека">
						<i class="ion ion-cube"></i>
					</button>
				</div>
			
				<div class="btn-row">

					<div class="btn-row">
						<div class="btn-print" title="Print" v-on:click="saveItem">
							Print!
						</div>
					</div>

				</div>


			</div>
		</div>
	</div>
	<!-- partial -->
	<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.min.js'></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-app.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-analytics.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-auth.js"></script>
	<script src="https://www.gstatic.com/firebasejs/7.7.0/firebase-database.js"></script>
	<script>
		var firebaseConfig = {
			apiKey: "AIzaSyCyP10VqUPw7TxS-REAtG-xhVm0JFU7uEE",
			authDomain: "fiesta-draw.firebaseapp.com",
			databaseURL: "https://fiesta-draw.firebaseio.com",
			projectId: "fiesta-draw",
			storageBucket: "fiesta-draw.appspot.com",
			messagingSenderId: "246617791608",
			appId: "1:246617791608:web:1d31c0f551418bcc5ce18d",
			measurementId: "G-LDGJX3T9SS"
		};
		// Initialize Firebase
		firebase.initializeApp(firebaseConfig);
		firebase.analytics();

	</script>
	<script src="./src/script.js"></script>

</body>

</html>